   <% form_for @arquivo, :html => { :multipart => true }  do |f| -%>
      <div class="grid_6">
         <div class="box">
            <div class="header">
               <img width="16" height="16" alt="" src="/img/icons/packs/fugue/16x16/ui-text-field-format.png"/>
               <h3>Arquivo</h3> <span/>
            </div>
            <%= hidden_field_tag 'arquivo[chamado_id]', @arquivo.chamado_id %>
            <div class="content with_actions">
               <div class="section _100" style='margin: 30px 0'>
                  <%= label_tag :arquivo  %>
                  <div class="customfile">
                      <span id='span_name' aria-hidden="true" class="customfile-feedback customfile-ext-rb customfile-feedback-populated"></span>
                      <%= f.file_field :arquivo, :class=> "customfile-input valid", :style=>"height: 27px; left: 0; margin: 0; top: 0; width: 100%;" %>
                  </div>
               </div>
            </div>
            <div class="actions">
               <div class="actions-right">
                  <%= submit_tag "Confirmar" %>
               </div>
            </div>
         </div>
      </div>
   <% end -%>

