<div id='main_content'>
<h2 class='grid_12'> Anexar Arquivo </h2>

   <div class="clean"/>
   <center>
      <a href="javascript:history.back()">Voltar</a>
   </center>
   <br/>
   <%= render :partial => 'form' %>
</div>
</div>

