<h1>Cadastros</h1>

<ul>
	<li><a href="/cidades">Cidades</a></li>
	<li><a href="/atos">Atos</a></li>
	<li><a href="/naturezas">Natureza</a></li>
	<li><a href="/cartorios">Cartorios</a></li>
	<li><a href="/grupos">Grupos de Usuarios</a></li>
	<li><a href="/usuarios">Usuarios</a></li>
</ul>
